#navbar > ul > li > a {
	font-size: 18px;
}
.navbar-brand {
	font-size: 20px;
}
.brand-text {
	font-size: 40px;
	line-height: 40px;
	color: white !important;
	font-family: Helvetica;
	font-weight: 700;
	letter-spacing: -5px;
}
.navbar-light .navbar-toggler {
	border: none;
}
.bg-navbar, .navbar-transparent {
	transition: background-color 300ms;
}
.bg-navbar {
	background-color: rgba(0,123,255,0.95);
}
#fullscreen {
	background: url('../img/fullscreen_1.jpg') bottom center;
	background-size: cover;
}
.fullscreen {
	min-height: 100vh;
}
.shadowed {
	box-shadow: 0 4px 6px 0px lightgray;
}
#about > div > div > p {
	line-height: 36px;
	font-size: 20px;
	text-align: center;
}
#team > .container > .row > .col-md > .photo {
	width: 90%;
}
#team > .container > .row > .col-md > .photo > a {
	display: block;
	width: inherit;
	height: auto;
	border-radius: 50%;
	transition: border 200ms;
}
#team > .container > .row > .col-md > .photo > a > img {
	width: 100%;
	height: auto;
	transition: transform 100ms;
}
#team > .container > .row > .col-md:hover > .photo > a > img {
	transform: scale(2, 2);
}
#team > .container > .row > .col-md:hover > .photo > a {
	border: 2px solid lightgray;
}
#team > .container > .row > .col-md > .social-icons {
	font-size: 22px;
	line-height: 36px;
	display: inline;
}
.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	margin-right: 10px;
}
.social-link:last-child {
	margin-right: 0px;
}
.mini-icon {
	padding-right: 2px !important;
	padding-top: 1px !important;
	box-sizing: border-box;
}
.w-60 {
	width: 60%;
}
.vk {
	color: #4c75a3;
	transition: 300ms;
}
.vk:hover {
	color: white;
	background-color: #007bff;
	transition: 300ms;
}
.github {
	color: #333;
	transition: 300ms;
}
.github:hover {
	color: white;
	background-color: #007bff;
	transition: 300ms;
}
.telegram {
	color: #0088cc;
	transition: 300ms;
}
.telegram:hover {
	color: white;
	background-color: #007bff;
	transition: 300ms;
}
.style-border {
	border-top: 4px solid #007bff;
}
.footer-ic {
	color: black;
	transition: 300ms;
}
